/* fonts */

@font-face {
    font-family: 'Space Grotesk';
    src: url('../assets/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wdth_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Trispace';
    src: url('../assets/fonts/Trispace/Trispace-VariableFont_wdth_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
}

/* animations */

@keyframes slide-out {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 100;
    }
}

@keyframes slide-in {
    from {
        transform: translateX(0%);
        opacity: 100;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.SlideOut {
    animation: slide-in 0.5s forwards;
}

.SlideIn {
    animation: slide-out 0.5s forwards;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
}

/* default element styles */

body {
    padding: 0px;
    margin: 0px;
    color: whitesmoke;
    font-family: 'Poppins';
    background: radial-gradient(221.6% 141.42% at 0% 0%, rgba(0, 26, 124, 0.88) 0%, rgba(115, 31, 204, 0.66) 43.41%, #7A0B34 100%);
    background-attachment: fixed;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow-x: hidden;
}

.Container {
    max-width: 1318px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    font-family: 'Poppins';
    font-weight: 400;
}

h2 {
    margin: 0px;
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: 400;
}

p {
    font-family: 'Poppins';
    font-weight: 100;
}

.AppHolder {
    display: flex;
    flex-direction: row;
    height: 100svh;
    width: 100vw;
    overflow: hidden;
}

/* for tab */
@media only screen and (max-width: 768px) {
    h2 {
        font-size: 24px;
    }
}

/* sidebar */

.SideBar {
    display: flex;
    flex-direction: column;
    width: 275px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(30px);
}

.FeatureContainer {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    
}

.SideBar h2 {
    margin: 0px;
    margin-top: 25px;
    margin-bottom: 30px;
    padding-left: 15px;
    font-size: 48px;
}

.FeatureContainer p {
    margin: 0px;
    font-size: 16px;
}

.FeatureSlip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 15px 15px;
    transition: all;
    transition-duration: 300ms;
}

.FeatureSlip:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.FeatureSlip img {
    height: 24px;
    align-self: center;
}

/* player controller */

.PlayerControllerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 15px;
    width: 100%;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
}

.ExpandNowPlaying {
    width: 20px;
}

/* responsivity below 1024px */
@media only screen and (max-width: 1024px) {
    .SideBar {
        width: 200px;
    }

    .SideBar h2 {
        font-size: 36px;
    }

    .FeatureContainer p{
        font-size: 14px;
    }
}
/* responsivity for tab */
@media only screen and (max-width: 768px) {
    .SideBar{
        display: none;
        position: fixed;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: auto;

    }

    .ShowSideBarButton {
        display: block;
    }
}

/* holds current queue of playing songs */

.NowPlaying {
    display: none;
    padding: 30px;
    padding-right: 0px;
    height: 100svh;
    width: 320px;
    background-color: rgba(255, 255, 255, 0.05);
    overflow: hidden;
    position: fixed;
    left: auto;
    right: 0%;
    top: 0%; 
    bottom: 0%;
    backdrop-filter: blur(60px);
}

.NowPlaying h2 {
    font-size: 24px;
    margin-top: 8px;
}

.NowPlaying p {
    margin-top: 15px;
    font-size: 14px;
}

.SongList {
    height: 100%;
    overflow-y: scroll;
}

.SongSlip {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 30px;
    padding-bottom: 15px;
}

.SongSlip img {
    height: 48px;
    width: 48px;
    object-fit: cover;
}

/* app container */

.AppContainer {
    display: flex;
    flex: 1;
    width: 0;
    flex-direction: column;
}

/* navbar */

.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: rgb(0, 0, 0, 0.2);
}

.NavBar p {
    margin: 0px;
    font-size: 20px
}

.NavBar img {
    display: none;
    align-self: center;
    height: 20px;
    object-fit: cover;
}

.NavButton {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

/* responsivity for tab */
@media only screen and (max-width: 768px) {
    .NavBar img {
        display: block;
    }
}

/* for mobile phone */
@media only screen and (max-width: 425px) {
    .NavBar p {
        font-size: 16px;
    }

    .NavBar img {
        height: 13px;
    }
}
/* for M mobile phone */
@media only screen and (max-width: 375px) {
    .NavBar {
        padding: 12px 15px;
    }
}

/* app contents */

.AppContent {
    flex: 1;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* cards */

.CardContainer {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 15px;
    justify-content: start;
}

.Card {
    z-index: -1;
}

.Card div {
    overflow: hidden;
    height: 150px;
    width: 150px;
    position: relative;
    border-radius: 12px;
}

.Card p {
    margin: 7px;
    font-size: 22px;
}

.CardImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.CardPlayIcon {
    position: absolute;
    width: 16%;
    top: auto;
    left: auto;
    right: 5%;
    bottom: 5%;
}

/* for mobile phone */
@media only screen and (max-width: 375px) {
    .Card p {
        font-size: 16px;
    }
}
/* for s mobile phone */
@media only screen and (max-width: 320px) {
    .CardContainer {
        column-gap: 15px;
    }

    .Card div {
        height: 125px;
        width: 125px;
    }
}

/* Hero section of the app */

section.Hero {
    overflow-x: hidden;
}

.Hero h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 6vw;
}

.Hero p {
    font-size: 2vw;
    align-self: end;
    max-width: 375px;
    margin-top: 0px;
    margin-bottom: 18px;
}

.Container.HeroDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.HeroTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-right: 15px;
    padding-bottom: 30px;
}

.HeroImageContainer {
    width: 55%;
}

.HeroImageContainer img {
    width: 100%;
    object-fit: cover;
}

/* responsivity for mobile phones */
@media only screen and (max-width: 425px) {
    .Container.HeroDiv {
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .Hero p {
        font-size: 5vw;
    }

    .Hero h1 {
        font-size: 16vw;
    }

    .HeroImageContainer {
        width: 80%;
    }
}



